@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap');

$title-font: 'Assistant', sans-serif;
$body-font: sans-serif;

$background-color: #F8F9FA;
$background-lighter-color: #FAFCFC;
$border-color: #E2E6EA;
$border-lighter-color: #EEF0F0;
$secondary-color: #E9ECEF;
$white-color: #FFF;

$successful-background-color: #C4E7CC;
$successful-font-color: #165725;
$successful-border-color: #ACCBB3;

$emphasis-color: #007BFF;
$button-hover-color: #007bffb4;
