.form-wrapper {
  background-color: #FAFCFC;
  display: flex;
  flex-direction: column;
  border: solid 1px #EEF0F0;
  border-radius: 4px;
  padding: 4rem;
}

label {
  display: inline-flex;
  padding-left: 0.3rem;
  align-items: center;
  background-color: #E9ECEF;
  border: solid 1px #E2E6EA;
  border-radius: 5px 0px 0px 5px;
  width: 3.8rem;
  height: 2rem;
  margin-right: 10px;

}

input {
  height: 2rem;
  padding-left: .3rem;
  border: solid 1px #E2E6EA;
  border-radius: 0px 5px 5px 0px;
}

.login-wrapper, .password-wrapper {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: sans-serif;
  font-size: 12px;
}

a {
  text-align: left;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 12px;
  color:#007BFF;
}

.warning-register {
  font-family: sans-serif;
  font-size: 12px;
  background-color: #C4E7CC;
  color: #165725;
  border: 1px solid #ACCBB3;
  border-radius: 3px;
  text-align: left;
  padding: .5rem .7rem;
}

.buttons-form{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.buttons-form button {
  background-color: #007BFF;
  color: #FFF;
  padding: .7rem;
  border: none;
  border-radius: 5px;
  font-weight: 200;
  cursor: pointer;
}

.buttons-form button:hover {
  background-color: #007bffb4;
}