@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@400;700&display=swap");
@import "/src/styles/variables";

body {
  margin: 0;
  font-family: $body-font;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
