$background-color: #f8f9fa;
$background-lighter-color: #fafcfc;
$border-color: #e2e6ea;
$border-lighter-color: #eef0f0;
$secondary-color: #e9ecef;
$white-color: #fff;

$error-background-color: #e7c4c4;
$error-font-color: #571616;
$error-border-color: #cbacac;

$successful-background-color: #c4e7cc;
$successful-font-color: #165725;
$successful-border-color: #accbb3;

$green-button: #28a745;
$blue-button: #007bff;
$red-button: #b21818;

$text-color: #343a40;
$smooth-text: #929292;

$title-font: 'Assistant', sans-serif;
$body-font: 'Roboto', sans-serif;

@mixin breakpoint($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin breakpoint-small {
  @include breakpoint(300px) {
    @content;
  }
}

@mixin breakpoint-medium {
  @include breakpoint(600px) {
    @content;
  }
}

@mixin breakpoint-large {
  @include breakpoint(1200px) {
    @content;
  }
}

@mixin button-hover($button-color) {
  border: 1px solid $button-color;
  color: $button-color;
  background-color: $white-color;
  cursor: pointer;
}

@mixin message($background, $font, $border) {
  font-family: $body-font;
  font-size: 12px;
  border-radius: 3px;
  text-align: left;
  padding: 0.5rem 0.7rem;
  margin-bottom: 1rem;

  background-color: $background;
  color: $font;
  border: 1px solid $border;
}
