@import "/src/styles/variables";

.quizzes-list-comp {
  background-color: $background-color;
  border-bottom: solid 2px $border-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 25px;

  @include breakpoint-medium {
    border-right: solid 2px $border-color;
    width: 25%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-color;
    padding: 10px;
    border: 2px solid $border-color;
    margin-bottom: 5px;
    color: $text-color;

    &.active {
      font-weight: bold;
      background-color: $border-color;

      .actions {
        svg {
          opacity: 0.7;
        }

        svg:hover {
          opacity: 1;
        }
      }
    }
  }

  li:hover {
    cursor: pointer;
    background-color: $border-color;
    font-weight: bold;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 10px;

    .draft-label {
      font-size: 0.8rem;
      font-weight: 700;
    }

    .delete {
      color: $red-button;
    }

    svg {
      font-size: 1.5rem;
      opacity: 0.2;

      &:hover {
        opacity: 1;
      }
    }
  }
}
