@import './../../styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin: 0;
  width: 100vw;
  height: 100vh;

  background-color: $background-color;
  text-align: center;

  @include breakpoint(800px) {
    flex-direction: row;
  }

  h1 {
    font-family: $title-font;
    font-weight: 300;
    font-size: 60px;
  }
  
  h3 {
    font-family: $title-font;
    font-weight: 400;
    font-size: 20px;
  }

  .verticalLine {
    height: 0;
    border: 2px solid $secondary-color;
    width: 100vw;


    @include breakpoint(800px) {
      border-left: 3px solid $secondary-color;
      height: 99vh;
      width: 0;
    }
  }  
}
